*.pyc
__pycache__
db.sqlite3
.env
venv/
generated
generated_images
generated_videos
ffmpeg.exe
ffplay.exe
ffprobe.exe
final_output_video.mp4
debug.log
token.json
credentials.json
article_urls.txt
phoeney-4bac5820ef2b.json
